openapi: 3.1.0
info:
  contact: {}
  title: Custodial wallets
  version: 3.9.4
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
        <p>Endpoints for leveraging some native blockchain features like transaction fee estimation, custodial onchain wallet for paying gas on behalf of customers or other ready made smart contracts.</p>
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Generate wallet
  - description: ''
    name: Transfer
paths:
  /v3/blockchain/sc/custodial/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Generate new custodial smart contract address on the blockchain. This address enables custodial providers to
        receive native assets, ERC20 / ERC721 / ERC1155 tokens on behalf of their customers on dedicated blockchain address, but in the same time it can initiate transfer of those assets away.
        Gas required for the transfer from that address is going to be deducted from the providers address - the one, which was used to generate the address on the blockchain.<br/>
        This operation deploys a smart contract on the blockchain.<br/>
        For paid plans, it is possible to pay for the gas costs - you don't have to provide private key or signatureId. Blockchain fees will be covered by your credits.
        Supported blockchains:
        <ul>
        <li>Ethereum</li>
        <li>Binance Smart Chain</li>
        <li>Celo</li>
        <li>Polygon (Matic)</li>
        <li>Harmony.ONE</li>
        <li>Klaytn</li>
        <li>XDC Network (XinFin)</li>
        <li>Tron</li>
        </ul>
        </p>
      operationId: GenerateCustodialWalletBatch
      parameters:
        - description: Type of Ethereum testnet. Defaults to ropsten.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Payer
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - MATIC
                        - BSC
                        - ONE
                        - KLAY
                        - CELO
                      example: MATIC
                      type: string
                    feesCovered:
                      type: boolean
                      example: true
                      description: 'If set to true, blockchain fees will be covered from credits.'
                    batchCount:
                      type: number
                      example: 270
                      minimum: 0
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 42
                      maxLength: 43
                      description: Owner of the addresses.
                      example: '0x8cb76aed9c5e336ef961265c6079c14e9cd3d2ea'
                  required:
                    - chain
                    - fromPrivateKey
                    - batchCount
                    - owner
                    - feesCovered
                - type: object
                  title: Auth - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - MATIC
                        - BSC
                        - ONE
                        - KLAY
                        - XDC
                      example: MATIC
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of account, from which the transaction will be initiated.'
                    batchCount:
                      type: number
                      example: 270
                      minimum: 0
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 42
                      maxLength: 43
                      description: Owner of the addresses.
                      example: '0x8cb76aed9c5e336ef961265c6079c14e9cd3d2ea'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to the transaction. If not present, last known nonce will be used.'
                  required:
                    - chain
                    - fromPrivateKey
                    - batchCount
                    - owner
                - type: object
                  title: Auth - Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - MATIC
                        - ETH
                        - ONE
                        - XDC
                        - KLAY
                        - BSC
                      example: MATIC
                      type: string
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    batchCount:
                      type: number
                      example: 270
                      minimum: 0
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 42
                      maxLength: 43
                      description: Owner of the addresses.
                      example: '0x8cb76aed9c5e336ef961265c6079c14e9cd3d2ea'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to the transaction. If not present, last known nonce will be used.'
                  required:
                    - chain
                    - signatureId
                    - owner
                    - batchCount
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of account, from which the transaction will be initiated.'
                    batchCount:
                      type: number
                      example: 270
                      minimum: 0
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 42
                      maxLength: 43
                      description: Owner of the addresses.
                      example: '0x8cb76aed9c5e336ef961265c6079c14e9cd3d2ea'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to the transaction. If not present, last known nonce will be used.'
                  required:
                    - chain
                    - feeCurrency
                    - fromPrivateKey
                    - batchCount
                    - owner
                - type: object
                  title: Celo - KMS
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    batchCount:
                      type: number
                      example: 270
                      minimum: 0
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 42
                      maxLength: 43
                      description: Owner of the addresses.
                      example: '0x8cb76aed9c5e336ef961265c6079c14e9cd3d2ea'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to the transaction. If not present, last known nonce will be used.'
                  required:
                    - chain
                    - feeCurrency
                    - signatureId
                    - batchCount
                    - owner
                - type: object
                  title: Tron - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - TRON
                      example: TRON
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 64
                      example: 05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2
                      minLength: 64
                      description: 'Private key of account, from which the transaction will be initiated.'
                    batchCount:
                      type: number
                      example: 50
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 34
                      maxLength: 34
                      description: Owner of the addresses.
                      example: TGXh2YJhfwchMGKuzfEJ27W1VEJRKnMdy9
                    feeLimit:
                      type: number
                      minimum: 0
                      description: 'Fee limit to be set, in TRX'
                  required:
                    - chain
                    - feeLimit
                    - fromPrivateKey
                    - batchCount
                    - owner
                - type: object
                  title: Tron - Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - TRON
                      example: TRON
                      type: string
                    from:
                      type: string
                      description: Sender address.
                      example: TGXh2YJhfwchMGKuzfEJ27W1VEJRKnMdy9
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    batchCount:
                      type: number
                      example: 50
                      description: Number of addresses to generate.
                    owner:
                      type: string
                      minLength: 34
                      maxLength: 34
                      description: Owner of the addresses.
                      example: TGXh2YJhfwchMGKuzfEJ27W1VEJRKnMdy9
                    feeLimit:
                      type: number
                      minimum: 0
                      description: 'Fee limit to be set, in TRX'
                  required:
                    - chain
                    - signatureId
                    - batchCount
                    - from
                    - feeLimit
                    - owner
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: Signature
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to perform the required operation due to a logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      message:
                        example: Forbidden
                        description: Forbidden
                        type: string
                      statusCode:
                        example: 403
                        description: '403'
                        type: number
                    required:
                      - statusCode
                      - message
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
      summary: Generate custodial wallet address
      tags:
        - Generate wallet
  '/v3/blockchain/sc/custodial/{chain}/{hash}':
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get custodial smart contract addresses from deploy transaction.</p>
      operationId: SCGetCustodialAddresses
      parameters:
        - description: Blockchain to work with
          in: path
          name: chain
          required: true
          schema:
            type: string
            enum:
              - CELO
              - MATIC
              - BSC
        - description: Transaction hash
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Address of the wallet smart contract.
                  example: '0xc21C81ef03f98898Fb155E00C364e8a7b9D158b8'
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: tx.missing
                        example: tx.missing
                        type: string
                      message:
                        description: No such tx.
                        example: No such tx.
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
      summary: Get custodial addresses from transaction
      tags:
        - Transfer
  /v3/blockchain/sc/custodial/approve:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Approve transfer of assets from the custodial smart contract wallet.<br/>
        Supported blockchains:
        <ul>
        <li>Binance Smart Chain</li>
        <li>Harmony.ONE</li>
        <li>Ethereum</li>
        <li>Celo</li>
        <li>Harmony.ONE</li>
        <li>Klaytn</li>
        <li>XDC Network (XinFin)</li>
        <li>Polygon (Matic)</li>
        </ul>
        </p>
      operationId: ApproveTransferCustodialWallet
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - XDC
                        - BSC
                        - KLAY
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                    spender:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to allow spending.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - spender
                    - fromPrivateKey
                - type: object
                  title: Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - KLAY
                        - BSC
                        - XDC
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                    spender:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to allow spending.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - spender
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                    spender:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to allow spending.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeCurrency
                    - spender
                    - fromPrivateKey
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                    spender:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to allow spending.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeCurrency
                    - spender
                    - signatureId
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: Signature
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to perform the required operation due to a logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      message:
                        example: Forbidden
                        description: Forbidden
                        type: string
                      statusCode:
                        example: 403
                        description: '403'
                        type: number
                    required:
                      - statusCode
                      - message
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
      summary: Approve transfer of assets from custodial wallet
      tags:
        - Transfer
  /v3/blockchain/sc/custodial/transfer:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Transfer assets from the custodial smart contract wallet. Originator of this transaction must be the address which created the address.
        It's possible to transfer only 1 assets in 1 transaction.<br/>
        Supported blockchains:
        <ul>
        <li>Binance Smart Chain</li>
        <li>Harmony.ONE</li>
        <li>Ethereum</li>
        <li>Celo</li>
        <li>TRON</li>
        <li>Klaytn</li>
        <li>XDC Network (XinFin)</li>
        <li>Polygon (Matic)</li>
        </ul>
        </p>
      operationId: TransferCustodialWallet
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - KLAY
                        - XDC
                        - BSC
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                        - 3
                    recipient:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send assets to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - recipient
                    - fromPrivateKey
                - type: object
                  title: Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - KLAY
                        - XDC
                        - BSC
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                        - 3
                    recipient:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send assets to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - recipient
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                        - 3
                    recipient:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send assets to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeCurrency
                    - recipient
                    - fromPrivateKey
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 2
                        - 3
                    recipient:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send assets to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeCurrency
                    - recipient
                    - signatureId
                - type: object
                  title: Tron - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - TRON
                      example: TRON
                      type: string
                    custodialAddress:
                      maxLength: 34
                      minLength: 34
                      description: Address of custodial wallet to transfer from
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    tokenAddress:
                      maxLength: 34
                      minLength: 34
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 3
                    recipient:
                      maxLength: 34
                      minLength: 34
                      description: Blockchain address to send assets to
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 64
                      example: 05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2
                      minLength: 64
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    feeLimit:
                      type: number
                      minimum: 0
                      description: Fee in TRX to be paid.
                      example: 0.01
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeLimit
                    - recipient
                    - fromPrivateKey
                - type: object
                  title: Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - TRON
                      example: TRON
                      type: string
                    custodialAddress:
                      maxLength: 34
                      minLength: 34
                      description: Address of custodial wallet to transfer from
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    tokenAddress:
                      maxLength: 34
                      minLength: 34
                      description: Address of the token to transfer. Not valid for native address transfers.
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    contractType:
                      type: number
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 3 - native asset'
                      example: 0
                      enum:
                        - 0
                        - 1
                        - 3
                    recipient:
                      maxLength: 34
                      minLength: 34
                      description: Blockchain address to send assets to
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                      type: string
                    amount:
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      example: '100000'
                      pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                      type: string
                    tokenId:
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      example: '100000'
                      type: string
                      maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    feeLimit:
                      type: number
                      minimum: 0
                      description: Fee in TRX to be paid.
                      example: 0.01
                    from:
                      type: string
                      minLength: 34
                      maxLength: 34
                      description: Sender address of TRON account in Base58 format.
                      example: TYMwiDu22V6XG3yk6W9cTVBz48okKLRczh
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeLimit
                    - from
                    - recipient
                    - signatureId
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: Signature
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to perform the required operation due to a logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      message:
                        example: Forbidden
                        description: Forbidden
                        type: string
                      statusCode:
                        example: 403
                        description: '403'
                        type: number
                    required:
                      - statusCode
                      - message
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
      summary: Transfer assets from custodial wallet
      tags:
        - Transfer
  /v3/blockchain/sc/custodial/transfer/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Transfer assets from the custodial smart contract wallet. Originator of this transaction must be the address which created the address.
        It's possible to transfer any amount of different assets in 1 transaction, if the wallet was generated with the batch option enabled.<br/>
        Supported blockchains:
        <ul>
        <li>Binance Smart Chain</li>
        <li>Harmony.ONE</li>
        <li>XDC Network (XinFin)</li>
        <li>Ethereum</li>
        <li>Celo</li>
        <li>Tron</li>
        <li>Klaytn</li>
        <li>Polygon (Matic)</li>
        </ul>
        </p>
      operationId: TransferCustodialWalletBatch
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - KLAY
                        - BSC
                        - XDC
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      type: array
                      description: Addresses of the token to transfer. Not valid for native address transfers.
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    contractType:
                      type: array
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      items:
                        type: number
                        example: 0
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                    recipient:
                      type: array
                      description: Blockchain address to send assets to
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    amount:
                      type: array
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      items:
                        example: '100000'
                        pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                        type: string
                    tokenId:
                      type: array
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      items:
                        example: '100000'
                        type: string
                        maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - recipient
                    - fromPrivateKey
                - type: object
                  title: Signature
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - ETH
                        - ONE
                        - KLAY
                        - BSC
                        - XDC
                        - MATIC
                      example: ETH
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      type: array
                      description: Address of the token to transfer. Not valid for native address transfers.
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    contractType:
                      type: array
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      items:
                        type: number
                        example: 0
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                    recipient:
                      type: array
                      description: Blockchain address to send assets to
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    amount:
                      type: array
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      items:
                        example: '100000'
                        pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                        type: string
                    tokenId:
                      type: array
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      items:
                        example: '100000'
                        type: string
                        maxLength: 256
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - recipient
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      description: Blockchain to work with.
                      enum:
                        - CELO
                      example: CELO
                      type: string
                    custodialAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of custodial wallet to transfer from
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    tokenAddress:
                      type: array
                      description: Address of the token to transfer. Not valid for native address transfers.
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    contractType:
                      type: array
                      description: 'Type of the asset to transfer. 0 - ERC20, 1 - ERC721, 2 - ERC1155, 3 - native asset'
                      items:
                        type: number
                        example: 0
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                    recipient:
                      type: array
                      description: Blockchain address to send assets to
                      items:
                        maxLength: 42
                        minLength: 42
                        example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                        type: string
                    amount:
                      type: array
                      description: Amount of the assets to be sent. Not valid for ERC-721 tokens.
                      items:
                        example: '100000'
                        pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
                        type: string
                    tokenId:
                      type: array
                      description: 'ID of token, if transaction is for ERC-721 or ERC-1155.'
                      items:
                        example: '100000'
                        type: string
                        maxLength: 256
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                    nonce:
                      type: number
                      example: 1
                      description: 'Nonce to be set to Ethereum transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - custodialAddress
                    - chain
                    - contractType
                    - feeCurrency
                    - recipient
                    - fromPrivateKey
                - type: object
[...]
