openapi: 3.1.0
info:
  contact: {}
  title: Multitoken
  version: 3.9.4
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
                <p>Multi Token (ERC-1155|) is a type of contract where multiple NFT or "non-fungible token" can be deployed with FT "Fungible Tokens". Non-fungible means that each token is unique and irreplaceable while Fungible tokens are tokens that have same value. This principle gives Multi Token their value and gives rise to a wide range of interesting potential use cases.<br/>
                Multi Tokens can be used for nearly any digital asset or good to ensure authenticity and scarcity. The possibilities are endless, but here are a few example use cases:
                <ul>
                <li><b>In-game assets</b> - Multi Tokens can be used to create unique collectibles in the form of characters, weapons, skins, or other equipment. Players can resell or trade assets directly as they choose, and their authenticity is easily verifiable. No more eBay, no more scammers.</li>
                <li><b>Music and other digital media</b> - Multi Tokens can be used to create rare and unique collectible digital releases. Similarly, NFTs can be used to sell videos, art, or any other type of digital media. Collectors can own digital originals of their favorite songs, movies, or virtually anything else you can imagine.</li>
                <li><b>Digital sports merch</b> - Trading cards, memorabilia, classic moments in sports history, and one-of-a-kind experiences can also be sold as NFTs, opening up a world of possibilities for sports leagues and teams worldwide. The NBA Top Shot website sells collectible “moments” from the league’s history, and at the time of writing, the website is completely sold out and closed for new sign-ups.</li>
                <br/>
                These endpoints wraps up standard Multi Token implementation and operations, which can be done with them. Endpoints are blockchain agnostic, the only differentatior is the <b>chain</b> parameter in the URL path.<br/><br/>
                Tatum now supports Multi Token on these blockchains:<br/>
                <ul>
                <li><b>Ethereum</b></li>
                <li><b>Polygon (Matic)</b></li>
                <li><b>Kcs (KCS)</b></li>
                <li><b>Celo</b></li>
                <li><b>Harmony.ONE</b></li>
                <li><b>Klaytn</b></li>
                <li><b>Binance Smart Chain</b></li>
                <li><b>Algorand</b></li>
                </ul>
                </p>
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
      - description: ''
        name: Token operations 
      - description: ''
        name: Batch operations 
      - description: ''
        name: Get information
paths:
  /v3/multitoken/deploy:
    post:
      description: |
        <p>Deploy Multi Token Smart Contract. This method creates new ERC1155 Smart Contract (Multi Tokens) on the blockchain. Smart contract is standardized and audited.
        It is possible to mint, burn and transfer tokens. It is also possible to mint multiple tokens at once.<br/>
        Tatum now supports Multi Tokens on these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Polygon (Matic)</b></li>
        <li><b>Kcs (KCS)</b></li>
        <li><b>Celo</b></li>
        <li><b>Harmony.ONE</b></li>
        <li><b>Klaytn</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>

        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: DeployMultiToken
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: mainnet
            default: testnet
        - description: Type of testnet. Defaults to ropsten. Valid only for ETH invocations.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    uri:
                      description: URI of the Multi Token token
                      example: example.com
                      type: string
                    fromPrivateKey:
                      description: 'Private key of account address, from which gas for deployment of ERC1155 will be paid. Private key, or signature Id must be present.'
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                    publicMint:
                      description: True if the contract is publicMint type
                      example: true
                      type: boolean
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - uri
                    - chain
                    - fromPrivateKey
                - type: object
                  title: Signature
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    uri:
                      description: URI of the Multi Token token
                      example: example.com
                      type: string
                    publicMint:
                      description: True if the contract is publicMint type
                      example: true
                      type: boolean
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - uri
                    - chain
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    uri:
                      description: URI of the Multi Token contract
                      example: example.com
                      maxLength: 100
                      minLength: 1
                      type: string
                    publicMint:
                      description: True if the contract is publicMint type
                      example: true
                      type: boolean
                    fromPrivateKey:
                      description: 'Private key of account address, from which gas for deployment of ERC1155 will be paid. Private key, or signature Id must be present.'
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - uri
                    - feeCurrency
                    - fromPrivateKey
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    uri:
                      description: URI of the Multi Token contract
                      example: example.com
                      maxLength: 100
                      minLength: 1
                      type: string
                    publicMint:
                      description: True if the contract is publicMint type
                      example: true
                      type: boolean
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - uri
                    - feeCurrency
                    - signatureId
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: SignatureId
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      message:
                        example: Forbidden
                        description: Forbidden
                        type: string
                      statusCode:
                        example: 403
                        description: '403'
                        type: number
                    required:
                      - statusCode
                      - message
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
      summary: Deploy Multi Token Smart Contract.
      tags:
        - Token operations
  /v3/multitoken/mint:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Mint a fixed amount of Multi Token and transfer it to destination account. Create and transfer any Multi Token token from smart contract defined in contractAddress.
        It is possible to add Metadata to the created token with a more detailed information about it.<br/><br/>
        Tatum now supports Multi Token these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Polygon (Matic)</b></li>
        <li><b>Kcs (KCS)</b></li>
        <li><b>Celo</b></li>
        <li><b>Harmony.ONE</b></li>
        <li><b>Binance Smart Chain</b></li>
        <li><b>Klaytn</b></li>
        <li><b>Algorand</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: MintMultiToken
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: mainnet
            default: testnet
        - description: Type of testnet. Defaults to ropsten. Valid only for ETH invocations.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                        - ALGO
                    tokenId:
                      description: ID of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    to:
                      maxLength: 58
                      minLength: 42
                      description: Blockchain address to send Multi Token token to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 1
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: amount of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - to
                    - chain
                    - url
                    - contractAddress
                    - fromPrivateKey
                    - tokenId
                    - amount
                - type: object
                  title: Signature
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    tokenId:
                      description: ID of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    to:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send Multi Token token to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    amount:
                      description: amount of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - to
                    - chain
                    - url
                    - contractAddress
                    - signatureId
                    - tokenId
                    - amount
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    tokenId:
                      description: ID of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    amount:
                      description: amount of token to be created.
                      example: '100000'
                      type: string
                    to:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send Multi Token token to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - to
                    - tokenId
                    - amount
                    - feeCurrency
                    - contractAddress
                    - fromPrivateKey
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    tokenId:
                      description: ID of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    amount:
                      description: amount of token to be created.
                      example: '100000'
                      type: string
                      maxLength: 32
                    to:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send Multi Token token to
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - to
                    - tokenId
                    - amount
                    - feeCurrency
                    - contractAddress
                    - signatureId
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: SignatureId
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: celo.error
                        example: celo.error
                        type: string
                      message:
                        description: 'Unexpected error occurred. Reason: ${reason}'
                        example: 'Unexpected error occurred. Reason: ${reason}'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
      summary: Mint Multi Token
      tags:
        - Token operations
  /v3/multitoken/mint/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Create a fixed amount of multiple Multi Tokens Tokens and transfer them to destination account in one transaction. Create and transfer Multi Tokens tokens from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports Multi Tokens on these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Polygon (Matic)</b></li>
        <li><b>Kcs (KCS)</b></li>
        <li><b>Celo</b></li>
        <li><b>Harmony.ONE</b></li>
        <li><b>Klaytn</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: MintMultiTokenBatch
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: mainnet
            default: testnet
        - description: Type of testnet. Defaults to ropsten. Valid only for ETH invocations.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    to:
                      type: array
                      description: Blockchain address to send Multi Token token to.
                      example:
                        - '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      items:
                        maxLength: 42
                        minLength: 42
                        type: string
                    tokenId:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100000'
                          - '100001'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    amounts:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100'
                          - '100'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - to
                    - chain
                    - url
                    - contractAddress
                    - fromPrivateKey
                    - tokenId
                    - amounts
                - type: object
                  title: Signature
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    to:
                      type: array
                      description: Blockchain address to send Multi Token token to.
                      example:
                        - '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      items:
                        maxLength: 42
                        minLength: 42
                        type: string
                    tokenId:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100000'
                          - '100001'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    amounts:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100'
                          - '100'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - to
                    - chain
                    - contractAddress
                    - tokenId
                    - url
                    - signatureId
                    - amounts
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    tokenId:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100000'
                          - '100001'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    amounts:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100'
                          - '100'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    to:
                      maxLength: 42
                      minLength: 42
                      description: Blockchain address to send Multi Token token to
                      example:
                        - '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: array
                      items:
                        type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - to
                    - tokenId
                    - amounts
                    - feeCurrency
                    - contractAddress
                    - fromPrivateKey
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    to:
                      type: array
                      description: Blockchain address to send Multi Token token to.
                      example:
                        - '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      items:
                        maxLength: 42
                        minLength: 42
                        type: string
                    tokenId:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100000'
                          - '100001'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    amounts:
                      type: array
                      description: ID of token to be created.
                      example:
                        - - '100'
                          - '100'
                      items:
                        type: array
                        items:
                          type: string
                          maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - to
                    - contractAddress
                    - feeCurrency
                    - tokenId
                    - amounts
                    - signatureId
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: SignatureId
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: celo.error
                        example: celo.error
                        type: string
                      message:
                        description: 'Unexpected error occurred. Reason: ${reason}'
                        example: 'Unexpected error occurred. Reason: ${reason}'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
      summary: Mint Multi Token Batch
      tags:
        - Batch operations
  /v3/multitoken/burn:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Burn a fixed amount of Multi Tokens by id. This method destroys Multi Tokens from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports Multi Token these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Polygon (Matic)</b></li>
        <li><b>Kcs (Matic)</b></li>
        <li><b>Celo</b></li>
        <li><b>Harmony.ONE</b></li>
        <li><b>Klaytn</b></li>
        <li><b>Binance Smart Chain</b></li>
        <li><b>Algorand</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: BurnMultiToken
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: mainnet
            default: testnet
        - description: Type of testnet. Defaults to ropsten. Valid only for ETH invocations.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                        - ALGO
                    account:
                      maxLength: 58
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    contractAddress:
                      maxLength: 42
                      minLength: 1
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 103
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    amount:
                      description: amount of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - account
                    - chain
                    - contractAddress
                    - fromPrivateKey
                    - tokenId
                    - amount
                - type: object
                  title: Signature
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    amount:
                      description: amount of token to be destroyed.
                      example: '100'
                      type: string
                      maxLength: 32
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - account
                    - chain
                    - amount
                    - contractAddress
                    - tokenId
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    amount:
                      description: amount of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - contractAddress
                    - feeCurrency
                    - fromPrivateKey
                    - tokenId
                    - amount
                    - account
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    amount:
                      description: amount of token to be destroyed.
                      example: '100000'
                      type: string
                      maxLength: 32
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - feeCurrency
                    - contractAddress
                    - tokenId
                    - amount
                    - signatureId
                    - account
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: TransactionHashKMS
                    properties:
                      txId:
                        description: TX hash of successful transaction.
                        example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
                        type: string
                      failed:
                        description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
                        example: false
                        type: boolean
                    required:
                      - txId
                  - type: object
                    title: Signature
                    properties:
                      signatureId:
                        format: uuid
                        description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
                        example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                        type: string
                    required:
                      - signatureId
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  errorCode:
                    example: validation.failed
                    description: validation.failed
                    type: string
                  message:
                    example: Request validation failed. Please see data for additional information.
                    description: Request validation failed. Please see data for additional information.
                    type: string
                  statusCode:
                    example: 400
                    description: '400'
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - target
                      properties:
                        target:
                          type: object
                          additionalProperties: true
                          description: Request object present in the body of the HTTP request
                          example:
                            property: 12345
                        value:
                          type: number
                          description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                          example: 12345
                        property:
                          type: string
                          description: Property name of the target object which validation is wrong
                          example: property1
                        constraints:
                          type: object
                          additionalProperties: true
                          description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                          example:
                            min: property1 must not be less than 50000
                required:
                  - errorCode
                  - message
                  - statusCode
                  - data
                type: object
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        example: subscription.not.active
                        description: subscription.not.active
                        type: string
                      message:
                        example: Subscription not active anymore.
                        description: Subscription not active anymore.
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
                  - properties:
                      errorCode:
                        example: subscription.invalid
                        description: subscription.invalid
                        type: string
                      message:
                        example: 'Unable to find valid subscription for ''${apiKey}'''
                        description: 'Unable to find valid subscription for ''${apiKey}'''
                        type: string
                      statusCode:
                        example: 401
                        description: '401'
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - properties:
                      errorCode:
                        description: celo.error
                        example: celo.error
                        type: string
                      message:
                        description: 'Unexpected error occurred. Reason: ${reason}'
                        example: 'Unexpected error occurred. Reason: ${reason}'
                        type: string
                      statusCode:
                        description: '403'
                        example: 403
                        type: number
                    required:
                      - errorCode
                      - message
                      - statusCode
                    type: object
        '500':
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Internal server error
                    description: Internal server error
                    type: string
                  statusCode:
                    example: 500
                    description: '500'
                    type: number
                required:
                  - statusCode
                  - message
                type: object
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
      summary: Burn Multi Token
      tags:
        - Token operations
  /v3/multitoken/burn/batch:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Burn multiple Multi Token Tokens by id assigned to same address in one transaction. This method destroys any Multi Tokens token from smart contract defined in contractAddress.<br/><br/>
        Tatum now supports Multi Tokens these blockchains:<br/>
        <ul>
        <li><b>Ethereum</b></li>
        <li><b>Polygon (Matic)</b></li>
        <li><b>Kcs (KCS)</b></li>
        <li><b>Celo</b></li>
        <li><b>Klaytn</b></li>
        <li><b>Harmony.ONE</b></li>
        <li><b>Binance Smart Chain</b></li>
        </ul>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: BurnMultiTokenBatch
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: mainnet
            default: testnet
        - description: Type of testnet. Defaults to ropsten. Valid only for ETH invocations.
          in: header
          name: x-testnet-type
          required: false
          schema:
            default: ethereum-ropsten
            type: string
            enum:
              - ethereum-ropsten
              - ethereum-rinkeby
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: PrivateKey
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example:
                        - '1000'
                        - '1001'
                      type: array
                      items:
                        type: string
                        maxLength: 32
                    amounts:
                      description: ID of token to be destroyed.
                      example:
                        - '10'
                        - '10'
                      type: array
                      items:
                        type: string
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - account
                    - amounts
                    - chain
                    - url
                    - contractAddress
                    - fromPrivateKey
                    - tokenId
                - type: object
                  title: Signature
                  properties:
                    chain:
                      type: string
                      example: ETH
                      description: Chain to work with.
                      enum:
                        - ETH
                        - ONE
                        - MATIC
                        - KCS
                        - KLAY
                        - BSC
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example:
                        - '100'
                        - '101'
                      type: array
                      items:
                        type: string
                        maxLength: 32
                    amounts:
                      description: ID of token to be destroyed.
                      example:
                        - '10'
                        - '10'
                      type: array
                      items:
                        type: string
                    data:
                      description: Data in bytes
                      example: '0x1234'
                      type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    index:
                      type: number
                      minimum: 0
                      description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
                    signatureId:
                      type: string
                      minLength: 36
                      maxLength: 36
                      format: uuid
                      example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
                      description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to transaction. If not present, last known nonce will be used.'
                    fee:
                      description: 'Custom defined fee. If not present, it will be calculated automatically.'
                      type: object
                      required:
                        - gasLimit
                        - gasPrice
                      properties:
                        gasLimit:
                          type: string
                          description: Gas limit for transaction in gas price.
                          pattern: '^[+]?\d+$'
                          example: '40000'
                        gasPrice:
                          type: string
                          description: Gas price in Gwei.
                          pattern: '^[+]?\d+$'
                          example: '20'
                  required:
                    - account
                    - chain
                    - amount
                    - contractAddress
                    - tokenId
                    - signatureId
                - type: object
                  title: Celo - PrivateKey
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: ID of token to be destroyed.
                      example:
                        - '100000'
                      type: array
                      items:
                        type: string
                        maxLength: 32
                    amounts:
                      description: amounts of token to be destroyed.
                      example:
                        - '100000'
                      type: array
                      items:
                        type: string
                    contractAddress:
                      maxLength: 42
                      minLength: 42
                      description: Address of Multi Token token
                      example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
                      type: string
                    fromPrivateKey:
                      type: string
                      maxLength: 66
                      example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
                      minLength: 66
                      description: 'Private key of sender address. Private key, or signature Id must be present.'
                    nonce:
                      type: number
                      minimum: 0
                      description: 'Nonce to be set to Celo transaction. If not present, last known nonce will be used.'
                    feeCurrency:
                      type: string
                      description: Currency to pay for transaction gas
                      enum:
                        - CELO
                        - CUSD
                        - CEUR
                  required:
                    - chain
                    - contractAddress
                    - feeCurrency
                    - fromPrivateKey
                    - tokenId
                    - amounts
                    - account
                - type: object
                  title: Celo - Signature
                  properties:
                    chain:
                      type: string
                      example: CELO
                      description: Chain to work with.
                      enum:
                        - CELO
                    account:
                      maxLength: 42
                      minLength: 42
                      description: Address of holder
                      example: '0x4b812a77b109A150C2Fc89eD133EaBC78bC9EC8f'
                      type: string
                    tokenId:
                      description: IDs of token to be destroyed.
                      example:
                        - '100000'
                      type: array
                      items:
                        type: string
                        maxLength: 32
                    amounts:
                      description: amounts of token to be destroyed.
                      example:
                        - '100000'
                      type: array
                      items:
[...]
